.ProductPreview {
  width: 100%;
}

.ProductPreview>img {
  width: 100%;
  position: relative;
}

.HeartBeatSection {
  position: absolute;
  top: 38%;
  left: 29%;
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.HeartBeatSection>p {
  margin-top: 16px;
}

.HeartBeatSection>i {
  color: red;
  animation: beat 1s infinite;
}

@keyframes beat {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

.TimeSection {
  position: absolute;
  top: 33%;
  left: 27%;


  color: white;
  font-size: 48px;
  font-weight: 600;
}